@import '../styles/colors.scss';

.number-of-pages-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    
    & .number-of-pages-item{
      border:solid 1px white;
      color: white;
      padding:0.3rem;
      transition: 0.2s;
      width:2.5rem;
      text-align: center;
      user-select: none;
      margin-bottom: 1rem;
      &:not(:last-child){
        margin-right: 0.25rem;
      }
      &.active{
        border-color: $primary;
        border-radius: 0.2em;
      }
      &:hover{
        border-color: goldenrod;
        border-radius: 0.2em;
      }
    }
  }
  